<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
<add name="KezhiDbContext" connectionString="Server=192.168.20.211;Initial Catalog=KezhiOADB;User ID=sa;Password=Kezhi@138" providerName="System.Data.SqlClient" />
  <!-- <add name="KezhiDbContext" connectionString="Server=.;Initial Catalog=KezhiOADB;User ID=sa;Password=123456" providerName="System.Data.SqlClient" /> -->
</connectionStrings>