@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .fontStyle {
        color: #f00;
        font-size: 16px;
    }
</style>

<script>

    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/OAManage/LodgingHouse/GetFormJson",
                data: { keyword: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    
                    $('#F_Project').combobox({
                        onLoadSuccess: function () {
                            $('#F_Project').combobox('setValue', data.F_ProjectId);
                        }
                    })
                    $('#F_HouseManageId').combobox({
                        onLoadSuccess: function () {
                            $('#F_HouseManageId').combobox('setValue', data.F_HouseManage);
                        }
                    })
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function initControl() {
        
        $("#F_HouseProvince").bindSelect({
            url: "/OAManage/Project/GetAddressSelectJson?layers= 1&parentid = 0",
            id: "F_Id",
            text: "F_FullName"
        });
        $("#F_HouseProvince").change(function () {
            
            $("#F_HouseCity").empty();
            $("#F_HouseCity").append("<option value=''>==市级行政区==</option>");
            var parentId = $(this).val();
            $("#F_HouseCity").bindSelect({
                url: "/OAManage/Project/GetAddressSelectJson?layers=2&parentid=" + parentId +"",
                id: "F_Id",
                text: "F_FullName"
            });
        });
       
        $('#F_HouseManageId').combobox({
            url: "/OAManage/Project/GetUserSelectJson",
            valueField: 'F_Id',
            textField: 'F_RealName'
        });
        $('#F_Project').combobox({
            url: "/OAManage/Project/GetProjectJson",
            valueField: 'F_ProjectCode',
            textField: 'F_ProjectName'
        });
     
    }

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var F_HouseManageId = $('#F_HouseManageId').combobox('getValue');;
        $("#F_HouseManage").val(F_HouseManageId);
        var F_ProjectId = $('#F_Project').combobox('getValue');
        if (F_ProjectId == '') {
            $.modalAlert("请选择项目！", "error")
            return;
        }
        $("#F_ProjectId").val(F_ProjectId);
        $.submitForm({
            url: "/OAManage/LodgingHouse/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
  
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr id="projectAddress">
                    <th class="formTitle">宿舍住址</th>
                    <td class="formValue">
                        <select id="F_HouseProvince" name="F_HouseProvince" class="form-control ">
                            <option value="">==省级行政区==</option>
                        </select>
                    </td>
                    <th class="formTitle"></th>
                    <td class="formValue">
                        <select id="F_HouseCity" name="F_HouseCity" class="form-control ">
                            <option value="">==市级行政区==</option>
                        </select>
                    </td>
                </tr>
                <tr id="projectOtherAddress">
                    <th class="formTitle">详细地址</th>
                    <td class="formValue">
                        <input id="F_DetailsAddress" name="F_DetailsAddress" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">宿舍编号<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <input id="F_HouseCode" name="F_HouseCode" type="text" class="form-control required" placeholder="宿舍编号" />
                    </td>
                    <th class="formTitle">宿舍名称<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <input id="F_HouseName" name="F_HouseName" type="text" class="form-control required" placeholder="宿舍名称" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">宿舍负责人</th>
                    <td class="formValue">
                        <select id="F_HouseManageId" name="F_HouseManageId" class="form-control"></select>
                        <input type="text" id="F_HouseManage" hidden />
                    </td>
                    <th class="formTitle">所属项目<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <select id="F_Project" name="F_Project" class="form-control"></select>
                        <input type="text" id="F_ProjectId" hidden />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        备注
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_Description" name="F_Description" class="form-control" style="height: 50px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
