@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>

    .fontStyle {
        color: #f00;
        font-size: 16px;
    }
    .otherwork{
        display:none;
    }
    .projectStyle {
        display: table-row;
    }
</style>
<script>

    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/OAManage/WorkDailyRecord/GetUpdateFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    var workType = data.F_WorkType;
                    var project = data.F_ProjectId;
                        $.ajax({
                            url: "/OAManage/WorkDailyRecord/GetProjectId",
                            data: { projectId: project },
                            datatype: "json",
                            async: false,
                            success: function (data1) {
                                if (data1 != null && data1 != "null") {
                                    var obj = eval("(" + data1 + ")");
                                    $("#F_WorkAddressFirst > option").remove();
                                    if (obj != null && obj.F_ProjectAddress != undefined && obj.F_ProjectAddress != null) {
                                        $("#F_WorkAddressFirst").append("<option  value='" + obj.F_ProjectAddress + "'>" + obj.F_ProjectAddress + "</option>");
                                    }
                                    if (workType != "加班" && workType != "正常") {
                                        $("#F_WorkAddressFirst").append("<option  value='在家休息'>在家休息</option>");
                                        $("#F_WorkAddressFirst1").append("<option  value='在家休息'>在家休息</option>");
                                    }
                                    $("#F_WorkAddressFirst").bindSelect({
                                        url: "/SystemManage/ItemsData/GetKezhiJson",
                                        id: "F_ItemName",
                                        text: "F_ItemName"
                                    });
                                    $("#F_WorkAddressFirst").append("<option value='其他'>其他</option>");
                                }
                            }
                        });
                        $('#F_Project').combobox({
                            onLoadSuccess: function () {
                                $('#F_Project').combobox('setValue', project);
                            }
                        })
                    $("#form1").formSerialize(data);
                    $("#F_WorkUserId").append("<option  value='" + data.F_WorkUserId + "' selected>" + data.F_WorkUserName + "</option>")
                    $("#F_WorkUserId").attr("disabled", "disabled")
                    //工作时间设置
                    var workType = $("#F_WorkType").val();
                    if (workType != "加班" && workType != "正常") {
                        $("#workDate").css("display", "none");
                    } else {
                        $("#workDate").css("display", "table-row");
                    }
                    //显示其他工作地点
                    if (data.F_OtherAddress != null && data.F_OtherAddress != "" && data.F_OtherAddress != "&nbsp") {
                        $("#F_WorkAddressOther").css("display", "table-row");
                    } else {
                        $("#F_WorkAddressOther").css("display", "none");
                    }
                }
            });
        }
    });
    function initControl() {
        //设置用户为登录用户
        $.ajax({
            url: "/OAManage/WorkDailyRecord/GetUserLogin",
            dataType: "json",
            async: false,
            success: function (data) {
                $("#F_WorkUserId").append("<option  value='" + data.F_Id + "' selected>" + data.F_RealName + "</option>")
                $("#F_WorkUserId").attr("disabled", "disabled")
            }
        });
        //设置项目下拉框    
        //设置项目下拉框    
        var workFlag = false;//修改页面第一次不让变化
        $('#F_Project').combobox({
            url: "/OAManage/Project/GetProjectJson",
            valueField: 'F_Id',
            textField: 'F_ProjectName',
            onChange: function (record) {
                $("#F_WorkAddressFirst > option").remove();
                var project = $('#F_Project').combobox('getValue');;
                $("#F_ProjectId").val(project);
                $.ajax({
                    url: "/OAManage/WorkDailyRecord/GetProjectId",
                    data: { projectId: project },
                    datatype: "json",
                    async: false,
                    success: function (data) {
                        var obj = eval("(" + data + ")");
                        var workType = $("#F_WorkType").val();
                        $("#F_WorkAddressFirst").append("<option  value='" + obj.F_ProjectAddress + "'>" + obj.F_ProjectAddress + "</option>");
                        if (workType != "加班" && workType != "正常") {
                            $("#F_WorkAddressFirst").append("<option  value='在家休息'>在家休息</option>");
                        }
                        $("#F_WorkAddressFirst").bindSelect({
                            url: "/SystemManage/ItemsData/GetKezhiJson",
                            id: "F_ItemName",
                            text: "F_ItemName"
                        });
                        $("#F_WorkAddressFirst").append("<option value='其他'>其他</option>");
                    }
                });
              
            }
            
        });
        //设置津贴
        $("#F_WorkSubsidy").bindSelect({
            url: "/SystemManage/ItemsData/GetSebsidyJson",
            id: "F_ItemName",
            text: "F_ItemName"
        });
        //设置工作类型
        $("#F_WorkCategory").bindSelect({
            url: "/SystemManage/ItemsData/GetWorkCategoryJson",
            id: "F_ItemName",
            text: "F_ItemName"
        });
        //设置地点
        $("#F_WorkAddressFirst1 > option").remove();
        $("#F_WorkAddressFirst1").bindSelect({
            url: "/SystemManage/ItemsData/GetKezhiJson",
            id: "F_ItemName",
            text: "F_ItemName"
        });
        $("#F_WorkAddressFirst1").append("<option value='其他'>其他</option>");
        //工作类型
        $("#F_WorkType").change(function () {
            var workType = $("#F_WorkType").val();
            if (workType != "加班" && workType != "正常") {
                $("#workDate").css("display", "none");
                $("#F_WorkTimeStart").val("");
                $("#F_WorkTimeEnd").val("");
            } else {
                $("#workDate").css("display", "table-row");
                $("#F_WorkTimeStart").val("");
                $("#F_WorkTimeEnd").val("");
            }
        })
        //其他工作地点
        $("#F_WorkAddressFirst").change(function () {
            var address = $("#F_WorkAddressFirst").val();
            if (address == "其他") {
                $("#F_WorkAddressOther").css("display", "table-row");
            } else {
                debugger;
                $("#F_WorkAddressOther").css("display", "none");
                $("#F_OtherAddress").val("");
            }
            $("#F_WorkAddress").val(address);
        })
        $("#F_WorkAddressFirst1").change(function () {
            var address = $("#F_WorkAddressFirst1").val();
            if (address == "其他") {
                $("#F_WorkAddressOther").css("display", "table-row");
            } else {
                $("#F_WorkAddressOther").css("display", "none");
                $("#F_OtherAddress").val("");
            }
            $("#F_WorkAddress").val(address);
        })
        //项目类型设置
        var categoryFlag = false;
        $("#F_WorkCategory").change(function () {
                var otherProject = $("#F_WorkCategory").val();
                if (otherProject != "项目实施") {
                    $("#F_OtherAddress").val('');
                    $("#F_WorkAddressOther").css("display", "none");
                    $(".otherwork").css('display', 'table-cell');
                    $(".projectStyle").css('display', 'none');
                    if (categoryFlag) {
                        $("#F_WorkAddressFirst1 > option").remove();
                        var workType = $("#F_WorkType").val();
                        if (workType != "加班" && workType != "正常") {
                            $("#F_WorkAddressFirst1").append("<option  value='在家休息'>在家休息</option>");
                        }
                        $("#F_WorkAddressFirst1").bindSelect({
                            url: "/SystemManage/ItemsData/GetKezhiJson",
                            id: "F_ItemName",
                            text: "F_ItemName"
                        });
                        $("#F_WorkAddressFirst1").append("<option value='其他'>其他</option>");
                    }else {
                        categoryFlag = true;
                    }
                } else {
                    $(".otherwork").css('display', 'none');
                    $(".projectStyle").css('display', 'table-row');
                    $("#F_OtherAddress").val("");
                    $("#F_WorkAddressOther").css("display", "none");
                }
        })
        //cookie设置
        var keyValue = $.request("keyValue");
        if (keyValue == null || keyValue == "") {
            var F_WorkTimeStart = getCookie("WorkTimeStart");
            var F_WorkTimeEnd = getCookie("WorkTimeEnd");
            if (F_WorkTimeStart == undefined) {
                $("#F_WorkTimeStart").val("8:00")
                $("#F_WorkTimeEnd").val("17:30")
            } else {
                $("#F_WorkTimeStart").val(F_WorkTimeStart)
                $("#F_WorkTimeEnd").val(F_WorkTimeEnd)
            }
            
            var myDate = new Date();
            var year = myDate.getFullYear();        //获取当前年
            var month = myDate.getMonth() + 1;   //获取当前月
            var date = myDate.getDate();
            $("#F_WorkDate").val(year + "-" + month + "-" + date);
        }
    
    }
    //获取当天日期
    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    }
    function submitForm() {
        //创建cookie
        setCookie("WorkTimeStart", $("#F_WorkTimeStart").val());
        setCookie("WorkTimeEnd", $("#F_WorkTimeEnd").val());
        var flag = true;
        var userName = $.trim($("#F_WorkUserId").text());
        if (userName == "超级管理员") {
            flag = false;
            $.modalAlert("您是超级管理员，无法创建日志！", "error")
        }
        if (!flag) {
            return false;
        }
        if (!$('#form1').formValid()) {
            return false;
        }
        //设置工作地点
        var Address = $("#F_WorkAddress").val();
        var address1 = $("#F_WorkAddressFirst").val();
        var address2 = $("#F_WorkAddressFirst1").val();
        if (Address == null || Address == '') {
            var realAddress = (address1 == null || address1 == '') ? address2 : address1
            $("#F_WorkAddress").val(realAddress)
        }
        //修改
        if (keyValue != null && keyValue != "") {
            $.submitForm({
                url: "/OAManage/WorkDailyRecord/SubmitFormDailyRecord?keyValue=" + keyValue,
                param: $("#form1").formSerialize(),
                success: function () {
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                }
            })
            return false;
        }
        //插入前check
        $.ajax({
            type:"post",
            url: "/OAManage/WorkDailyRecord/GetWorkDaily",
            data: { workdate: $("#F_WorkDate").val() },
            datatype: "json",
            async: false,
            success: function (data) {
                console.log(typeof (data))
                console.log(data)
                if (data == "True") {
                    $.modalConfirm("注：当前日期已添加了工作日志，需要覆盖吗？", function (r) {
                        if (r) {
                            $.submitForm({
                                url: "/OAManage/WorkDailyRecord/SubmitFormDailyRecord?keyValue=" + keyValue,
                                param: $("#form1").formSerialize(),
                                success: function () {
                                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                                }
                            })
                        } 
                    });
                } else {
                    $.submitForm({
                        url: "/OAManage/WorkDailyRecord/SubmitFormDailyRecord?keyValue=" + keyValue,
                        param: $("#form1").formSerialize(),
                        success: function () {
                            $.currentWindow().$("#gridList").trigger("reloadGrid");
                        }
                    })
                }
                
            }
        });
    }
  
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">姓名&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <select id="F_WorkUserId" name="F_WorkUserId" class="form-control required">

                        </select>
                        @*<input id="F_WorkDate" type="text" class="form-control required" >*@
                    </td>
                    <th class="formTitle">日志类型&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <select id="F_WorkType" name="F_WorkType" class="form-control">
                            <option value="正常">正常</option>
                            <option value="加班">加班</option>
                            <option value="双休">双休</option>
                            <option value="调休">调休</option>
                            <option value="法定假日">法定假日</option>
                        </select>
                    </td>
                </tr>
              
                <tr>
                    <th class="formTitle">日期选择&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue" >
                        <input id="F_WorkDate" name="F_WorkDate" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker({ skin: 'whyGreen', dateFmt: 'yyyy-MM-dd' })" placeholder="工作日期">
                    </td>
                    <th class="formTitle">津贴&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <select id="F_WorkSubsidy" name="F_WorkSubsidy" class="form-control required">
                            <option value="">==请选择==</option>
                        </select>
                    </td>
                </tr>
                <tr id="workDate">
                    <th class="formTitle">开始时间&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <input id="F_WorkTimeStart" name="F_WorkTimeStart" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker({skin: 'whyGreen', dateFmt: 'HH:mm' });" value="8:00" placeholder="开始时间" />
                    </td>
                    <th class="formTitle">结束时间&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <input id="F_WorkTimeEnd" name="F_WorkTimeEnd" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker({skin: 'whyGreen', dateFmt: 'HH:mm' });" value="17:30" placeholder="结束时间" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">工作类型&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <select id="F_WorkCategory" name="F_WorkCategory" class="form-control">
                        </select>
                    </td>
                    <th class="formTitle otherwork">工作地点&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue otherwork">
                        <select id="F_WorkAddressFirst1" name="F_WorkAddressFirst1" class="form-control">
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <tr class="projectStyle">
                    <th class="formTitle">项目&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <select id="F_Project" class="form-control required "></select>
                    </td>
                    <th class="formTitle">工作地点&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <select id="F_WorkAddressFirst" name="F_WorkAddressFirst" class="form-control ">
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <tr id="F_WorkAddressOther" style="display:none">
                    <th class="formTitle"></th>
                    <td class="formValue"></td>
                    <th class="formTitle">其他工作地点&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <input id="F_OtherAddress" name="F_OtherAddress" type="text" class="form-control required" placeholder="请在此输入工作地点">
                    </td>
                </tr>
                <tr hidden>
                    <th class="formTitle"></th>
                    <td class="formValue">
                        <input id="F_WorkAddress" name="F_WorkAddress" type="text" class="form-control required" >
                    </td>
                    <th class="formTitle"></th>
                    <td class="formValue">
                        <input type="text" id="F_ProjectId" name="F_ProjectId" value="" class="form-control required" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        日志内容&nbsp;&nbsp;<span class="fontStyle">*</span>
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_DailyRecord" name="F_DailyRecord" class="form-control required" style="height: 150px;" maxlength="500"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        备注
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_Description" name="F_Description" class="form-control" style="height: 50px;" maxlength="50"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<script>
    //创建cookie
    function setCookie(name, value, iDay) {
        var oDate = new Date();
        oDate.setDate(oDate.getDate() + 1);
        document.cookie = name + '=' + value + ';path=/;expires=' + oDate;
    }
    // 获取cookie
    function getCookie(name) {
        var arr = document.cookie.split('; ');
        for (var i = 0; i < arr.length; i++) {
            var tmp = arr[i].split('=');
            if (name == tmp[0]) {
                return tmp[1];
            }
        }
    }

    // 删除cookie
    function removeCookie(name) {
        setCookie(name, '', -1);
    }
</script>
