@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>

    .fontStyle {
        color: #f00;
        font-size: 16px;
    }
    .otherwork{
        display:none;
    }
    .projectStyle {
        display: table-row;
    }
</style>
<script>

    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        //设置项目下拉框    
        var workFlag = false;//修改页面第一次不让变化
        $.ajax({
            url: "/OAManage/Project/GetProjectJson",
            data: { parentId: $("#F_WorkCategory").val() },
            type: "post",
            dataType: "json",
            async: false,
            success: function (data) {
                init();
            }
        });
        
    });
    function init() {
        if (!!keyValue) {
            $.ajax({
                url: "/OAManage/WorkDailyRecord/GetUpdateFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    var workType = data.F_WorkType;
                    var project = data.F_ProjectId;
                    var house = data.F_LodgingHouse;
                    $('#F_Project').combobox({
                        onLoadSuccess: function () {
                            $('#F_Project').combobox('setValue', project);
                        }
                    })
                    $('#F_LodgingHouseId').combobox({
                        onLoadSuccess: function () {
                            $('#F_LodgingHouseId').combobox('setValue', house);
                        }
                    })

                    $.ajax({
                        url: "/OAManage/WorkDailyRecord/GetProjectId",
                        data: { projectId: project },
                        datatype: "json",
                        async: false,
                        success: function (data1) {
                            if (data1 != null && data1 != "null") {
                                var obj = eval("(" + data1 + ")");
                                $("#F_WorkAddress > option").remove();
                                if (obj != null && obj.F_ProjectAddress != undefined && obj.F_ProjectAddress != null) {
                                    $("#F_WorkAddress").append("<option  value='" + obj.F_ProjectAddress + "'>" + obj.F_ProjectAddress + "</option>");
                                }
                                if (workType != "加班" && workType != "正常") {
                                    $("#F_WorkAddress").append("<option  value='在家休息'>在家休息</option>");
                                }
                                $("#F_WorkAddress").bindSelect({
                                    url: "/SystemManage/ItemsData/GetKezhiJson",
                                    id: "F_ItemName",
                                    text: "F_ItemName"
                                });
                                $("#F_WorkAddress").append("<option value='其他'>其他</option>");
                            }
                            $("#form1").formSerialize(data);
                        }
                    });
                    
                    
                    $("#F_WorkUserId").append("<option  value='" + data.F_WorkUserId + "' selected>" + data.F_WorkUserName + "</option>")
                    $("#F_WorkUserId").attr("disabled", "disabled")
                    //工作时间设置
                    var workType = $("#F_WorkType").val();
                    if (workType != "加班" && workType != "正常") {
                        $("#workDate").css("display", "none");
                    } else {
                        $("#workDate").css("display", "table-row");
                    }
                    //显示其他工作地点
                    if (data.F_OtherAddress != null && data.F_OtherAddress != "" && data.F_OtherAddress != "&nbsp") {
                        $("#F_WorkAddressOther").css("display", "table-row");
                    } else {
                        $("#F_WorkAddressOther").css("display", "none");
                    }
                }
            });
        }
    }
    function initControl() {
        //设置用户为登录用户
        $.ajax({
            url: "/OAManage/WorkDailyRecord/GetUserLogin",
            dataType: "json",
            async: false,
            success: function (data) {
                $("#F_WorkUserId").append("<option  value='" + data.F_Id + "' selected>" + data.F_RealName + "</option>")
                $("#F_WorkUserId").attr("disabled", "disabled")
            }
        });
        
    
        //设置津贴
        $("#F_WorkSubsidy").bindSelect({
            url: "/SystemManage/ItemsData/GetSebsidyJson",
            id: "F_ItemName",
            text: "F_ItemName"
        });
        //设置工作类型
        $("#F_WorkCategory").bindSelect({
            url: "/SystemManage/ItemsData/GetWorkCategoryJson",
            id: "F_Id",
            text: "F_ItemName"
        });
   
        //工作类型
        $("#F_WorkType").change(function () {
            var workType = $("#F_WorkType").val();
            if (workType != "加班" && workType != "正常") {
                $("#workDate").css("display", "none");
                $("#F_WorkTimeStart").val("");
                $("#F_WorkTimeEnd").val("");
            } else {
                $("#workDate").css("display", "table-row");
                $("#F_WorkTimeStart").val("");
                $("#F_WorkTimeEnd").val("");
            }
        })
        //其他工作地点
        $("#F_WorkAddress").change(function () {
            var address = $("#F_WorkAddress").val();
            if (address == "其他") {
                $("#F_WorkAddressOther").css("display", "table-row");
            } else {
                $("#F_WorkAddressOther").css("display", "none");
                $("#F_OtherAddress").val("");
            }
            $("#F_WorkAddress").val(address);
        })
        //项目类型设置
        var step = 0;//记录第几次变化
        $("#F_WorkCategory").change(function () {
            var otherProject = $("#F_WorkCategory").val();
            step++;
            $(".otherwork").css('display', 'none');
            $(".projectStyle").css('display', 'table-row');
            $("#F_OtherAddress").val("");
            $("#F_WorkAddressOther").css("display", "none");
            $('#F_ProjectId').val("")
            $.ajax({
                url: "/OAManage/Project/GetProjectJson",
                data: { parentId: otherProject },
                type: "post",
                dataType: "json",
                async: false,
                success: function (data) {
                    setProject(data, false);
                }
            });
        })
        var categoryFlag = false;
        //宿舍下拉框
        $.ajax({
            url: "/OAManage/LodgingHouse/GetHouses",
            type: "get",
            dataType: "json",
            async: false,
            success: function (data) {
                setLodgingHouse(data);
            }
        });
        function setLodgingHouse(data) {
            $('#F_LodgingHouseId').combobox({
                data: data,
                valueField: 'F_Id',
                textField: 'F_HouseName'
              
            });
        }
    
    }
    //设置项目下拉
    function setProject(data,flag) {
        $('#F_Project').combobox({
            data: data,
            valueField: 'F_Id',
            textField: 'F_ProjectName',
            onChange: function (record) {
                $("#F_WorkAddress > option").remove();
                var project = $('#F_Project').combobox('getValue');
                $('#F_ProjectId').val(project)
            
                $.ajax({
                    url: "/OAManage/WorkDailyRecord/GetProjectId",
                    data: { projectId: project },
                    datatype: "json",
                    async: false,
                    success: function (data) {
                        var obj = eval("(" + data + ")");
                        var workType = $("#F_WorkType").val();
                        //设置工作地点
                        if (obj != null && obj.F_ProjectAddress != undefined && obj.F_ProjectAddress != null) {
                            $("#F_WorkAddress").append("<option  value='" + obj.F_ProjectAddress + "'>" + obj.F_ProjectAddress + "</option>");
                        }
                        if (workType != "加班" && workType != "正常") {
                            $("#F_WorkAddress").append("<option  value='在家休息'>在家休息</option>");
                        }
                        $("#F_WorkAddress").bindSelect({
                            url: "/SystemManage/ItemsData/GetKezhiJson",
                            id: "F_ItemName",
                            text: "F_ItemName"
                        });
                        $("#F_WorkAddress").append("<option value='其他'>其他</option>");
                    }
                });
            }
        });
    }

    function submitForm() {
        var flag = true;
        var userName = $.trim($("#F_WorkUserId").text());
        if (userName == "超级管理员") {
            flag = false;
            $.modalAlert("您是超级管理员，无法创建日志！", "error")
        }
        if (!flag) {
            return false;
        }
        if (!$('#form1').formValid()) {
            return false;
        }
        //修改
        if (keyValue != null && keyValue != "") {
            $.submitForm({
                url: "/OAManage/WorkDailyRecord/SubmitFormDailyRecord?keyValue=" + keyValue,
                param: $("#form1").formSerialize(),
                success: function () {
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                }
            })
        }
      
    }
  
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">姓名&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <select id="F_WorkUserId" name="F_WorkUserId" class="form-control required">

                        </select>
                        @*<input id="F_WorkDate" type="text" class="form-control required" >*@
                    </td>
                    <th class="formTitle">日志类型&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <select id="F_WorkType" name="F_WorkType" class="form-control">
                            <option value="正常">正常</option>
                            <option value="加班">加班</option>
                            <option value="双休">双休</option>
                            <option value="调休">调休</option>
                            <option value="法定假日">法定假日</option>
                        </select>
                    </td>
                </tr>
              
                <tr>
                    <th class="formTitle">日期选择&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue" >
                        <input id="F_WorkDate" name="F_WorkDate" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker({ skin: 'whyGreen', dateFmt: 'yyyy-MM-dd' })" placeholder="工作日期">
                    </td>
                    <th class="formTitle">津贴&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <select id="F_WorkSubsidy" name="F_WorkSubsidy" class="form-control required">
                            <option value="">==请选择==</option>
                        </select>
                    </td>
                </tr>
                <tr id="workDate">
                    <th class="formTitle">开始时间&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <input id="F_WorkTimeStart" name="F_WorkTimeStart" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker({skin: 'whyGreen', dateFmt: 'HH:mm' });" value="8:00" placeholder="开始时间" />
                    </td>
                    <th class="formTitle">结束时间&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <input id="F_WorkTimeEnd" name="F_WorkTimeEnd" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker({skin: 'whyGreen', dateFmt: 'HH:mm' });" value="17:30" placeholder="结束时间" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">工作类型&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <select id="F_WorkCategory" name="F_WorkCategory" class="form-control">
                        </select>
                    </td>
                    <th class="formTitle">项目&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <select id="F_Project" class="form-control required "></select>
                    </td>
                </tr>
                <tr class="projectStyle">
                    
                    <th class="formTitle">工作地点&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <select id="F_WorkAddress" name="F_WorkAddress" class="form-control ">
                            <option value=""></option>
                        </select>
                    </td>
                    <th class="formTitle">宿舍编号&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <select id="F_LodgingHouseId" class="form-control ">
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <tr id="F_WorkAddressOther" style="display:none">
                    <th class="formTitle"></th>
                    <td class="formValue"></td>
                    <th class="formTitle">其他工作地点&nbsp;&nbsp;<span class="fontStyle">*</span></th>
                    <td class="formValue">
                        <input id="F_OtherAddress" name="F_OtherAddress" type="text" class="form-control required" placeholder="请在此输入工作地点">
                    </td>
                </tr>
                <tr hidden>
                   
                    <td class="formValue">
                        <input type="text" id="F_ProjectId" name="F_ProjectId" value="" class="form-control required" />
                    </td>
                    <td class="formValue">
                        <input type="text" id="F_LodgingHouse" name="F_LodgingHouse" value="" class="form-control required" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        日志内容&nbsp;&nbsp;<span class="fontStyle">*</span>
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_DailyRecord" name="F_DailyRecord" class="form-control required" style="height: 150px;" maxlength="500"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        备注
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_Description" name="F_Description" class="form-control" style="height: 50px;" maxlength="50"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<script>
    //创建cookie
    function setCookie(name, value, iDay) {
        var oDate = new Date();
        oDate.setDate(oDate.getDate() + 1);
        document.cookie = name + '=' + value + ';path=/;expires=' + oDate;
    }
    // 获取cookie
    function getCookie(name) {
        var arr = document.cookie.split('; ');
        for (var i = 0; i < arr.length; i++) {
            var tmp = arr[i].split('=');
            if (name == tmp[0]) {
                return tmp[1];
            }
        }
    }

    // 删除cookie
    function removeCookie(name) {
        setCookie(name, '', -1);
    }
</script>
