@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    var itemId = $.request("itemId");
    $(function () {
        init();
        if (!!keyValue) {
            
            $.ajax({
                url: "/SystemManage/ItemsData/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    if (data != null && data.F_SimpleSpelling != null && data.F_SimpleSpelling != "") {
                        $("#otherProject").removeAttr("hidden");
                    } else {
                        $("#otherProject").setAttribute("hidden", true);
                    }
                }
            });
        }
      
    });
    function init() {
        $.ajax({
            url: "/SystemManage/ItemsType/GetItemTypeById",
            data: { keyValue: itemId },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                if (data != null) {
                    var itemName = data.F_FullName;
                    if (itemName == "项目类型") {
                        $("#otherProject").removeAttr("hidden");
                    } else {
                        $("#otherProject").setAttribute("hidden", true);
                    }
                }
            }
        });
        //获取其他工作类型
        $("#F_SimpleSpelling").bindSelect({
            url: "/SystemManage/ItemsData/GetWorkCategoryJson",
            id: "F_Id",
            text: "F_ItemName"
        });
        $("#F_SortCode").val("")
        $("#F_Description").val("")


    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var postData = $("#form1").formSerialize();
        postData["F_ItemId"] = itemId;
        $.submitForm({
            url: "/SystemManage/ItemsData/SubmitForm?keyValue=" + keyValue,
            param: postData,
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">名称</th>
                <td class="formValue">
                    <input id="F_ItemName" name="F_ItemName" type="text" class="form-control required" placeholder="请输入名称" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">编号</th>
                <td class="formValue">
                    <input id="F_ItemCode" name="F_ItemCode" type="text" class="form-control required" placeholder="请输入编号" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">排序</th>
                <td class="formValue">
                    <input id="F_SortCode" name="F_SortCode" type="text" class="form-control required" />
                </td>
            </tr>
            <tr id="otherProject" hidden>
                <th class="formTitle">其他工作</th>
                <td class="formValue">
                    <select id="F_SimpleSpelling" name="F_SimpleSpelling" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="height: 35px;">选项</th>
                <td class="formValue" style="padding-top: 1px;">
                    <div class="ckbox">
                        <input id="F_IsDefault" name="F_IsDefault" type="checkbox"><label for="F_IsDefault">默认</label>
                    </div>
                    <div class="ckbox">
                        <input id="F_EnabledMark" name="F_EnabledMark" type="checkbox" checked="checked"><label for="F_EnabledMark">有效</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">备注
                </th>
                <td class="formValue">
                    <textarea id="F_Description" name="F_Description" class="form-control" style="height: 60px;"></textarea>
                </td>
            </tr>
        </table>
    </div>
</form>
